<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSCOUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SSCOUIModels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SSCOUIViews.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="ConfigurationSettings" type="SSCOUI.ConfigSection, SSCOUI" />
        <section name="ConfigurationSettingsModels" type="SSCOUIModels.ConfigSection, SSCOUIModels" />
    </configSections>
    <applicationSettings>
        <SSCOUI.Properties.Settings>
            <setting name="ForceRenderingTier" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>C:\scot\logs\SSCOUI.log</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>4294967295</value>
            </setting>
            <setting name="LogFileSize" serializeAs="String">
                <value>5120</value>
            </setting>
        </SSCOUI.Properties.Settings>
        <SSCOUIModels.Properties.Settings>
            <setting name="RemoteSendInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ConnectionPeriod" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="RemoteProxyPort" serializeAs="String">
                <value>1666</value>
            </setting>
            <setting name="RemoteProxyHost" serializeAs="String">
                <value>192.168.88.132</value>
            </setting>
            <setting name="RemoteKeepAliveInterval" serializeAs="String">
                <value>2000</value>
            </setting>
        </SSCOUIModels.Properties.Settings>
        <SSCOUIViews.Properties.Settings>
            <setting name="NMI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainTenderCount" serializeAs="String">
                <value>3</value>
            </setting>	          
        </SSCOUIViews.Properties.Settings>
    </applicationSettings>
    <ConfigurationSettingsModels>
        <ContextToViews>
            <add context="AssistedTender" view="GenericPopup" param="AssistedTender" />
            <add context="AcknowledgeSig" view="TenderStep" param="AcknowledgeSig" />
            <add context="AM_ConfirmAbort" param=""/>
            <add context="AM_ConfirmQuantity" param=""/>
            <add context="AM_ConfirmVoid" param=""/>
            <add context="AM_ContinueTrans" param=""/>
            <add context="AM_CouponNoMatch" param=""/>
            <add context="AM_CouponNotAllowed" param=""/>
            <add context="AM_CouponTooHigh" param=""/>
            <add context="AM_CrateableItem" param=""/>
            <add context="AM_CustomMessage" param=""/>
            <add context="AM_EnterCouponValue" param=""/>
            <add context="AM_EnterQuantity" param=""/>
            <add context="AM_EnterWeight" param=""/>
            <add context="AM_EnterWtForPriceEmbedded" param=""/>
            <add context="AM_ItemQuantityExceeded" param=""/>
            <add context="AM_KeyInCode" param=""/>
            <add context="AM_KeyInPrice" param=""/>
            <add context="AM_KeyInQuantity" param=""/>
            <add context="AM_Processing" param=""/>
            <add context="AM_RestrictedNotAllowed" param=""/>
            <add context="AM_ScaleBroken" param=""/>
            <add context="AM_SelectTare" param=""/>
            <add context="AM_UpdateNotAllowed" param=""/>
            <add context="AM_VoidItem" param=""/>
            <add context="AM_VoidNoMatch" param=""/>
            <add context="Attract" view="Welcome" param="Welcome"/>
            <add context="AttractMultiLanguage" view="Welcome" param="AttractMultiLanguage"/>
            <add context="BagAndEAS" view="Sale" param="Bag"/>
            <add context="BiometricProcessing" view="GenericPopup" param="BiometricProcessing"/>
            <add context="CardProcessing" view="GenericPopup" param="CardProcessing"/>
            <add context="CashPayment" view="TenderStep" param="CashPayment"/>
            <add context="CheckBasketReminder" view="GenericPopup" param="CheckBasket"/>
            <add context="CmDataEntry" view="CustomPopup" param="CmDataEntry"/>
            <add context="CmDataEntry0" view="GenericPopup" param="CmDataEntry0"/>
            <add context="CmDataEntry1" view="CustomPopup" param="CmDataEntry1"/>
            <add context="CmDataEntry2" view="CustomPopup" param="CmDataEntry2"/>
            <add context="CmDataEntry3" view="CustomPopup" param="CmDataEntry3"/>
            <add context="CmDataEntry4" view="CustomPopup" param="CmDataEntry4"/>
            <add context="CmDataEntryWithButtonList" view="GridInput" param="CmDataEntryWithButtonList"/>
            <add context="CmDataEntryWithCmdList" view="GridInput" param="CmDataEntryWithCmdList"/>
            <add context="CmDataEntryWithKeyBoard" view="NumericInput" param="CmDataEntryWithKeyBoard"/>
            <add context="CollectGiftCard" view="GenericPopup" param="CollectGiftCard"/>
            <add context="ConfirmVoid" view="CancelYesNo" param="ConfirmVoid"/>
            <add context="ConfirmAbort" view="CancelYesNo" param="ConfirmAbort"/>
            <add context="ConfirmEBTAmount" view="GenericPopup" param="ConfirmEBTAmount"/>
            <add context="ConfirmQuantity" view="GenericPopup" param="ConfirmQuantity"/>
            <add context="ContextHelp" view="Help" param="ContextHelp"/>
            <add context="ContinueTrans" view="GenericPopup" param="Continue"/>
            <add context="CouponTooHigh" view="GenericPopup" param="CouponTooHigh"/>
            <add context="CrateableItem" view="GenericPopup" param="CrateableItem"/>
            <add context="CustomMessage" view="GenericPopup" param="CustomMessage"/>
            <add context="Disconnected" view="GenericPopup" param="Disconnected"/>
            <add context="DepositCoupons" view="TenderStep" param="DepositCoupon"/>
            <add context="DepositGiftCard" view="TenderStep" param="DepositGiftCard"/>
            <add context="ElectronicBenefitsTransfer" view="TenderStep" param="EnterAmount"/>
            <add context="EnterAlphaNumericID" view="AlphaNumericInput" param="AlphaNumeric"/>
            <add context="EnterAlphaNumericInfo" view="AlphaNumericInput" param="AlphaNumeric"/>
            <add context="EnterAlphaNumericPassword" view="AlphaNumericInput" param="AlphaNumericPassword"/>
            <add context="EnterCoupons" view="Sale" param="EnterCoupons"/>
            <add context="EnterCouponsWithReward" view="Sale" param="EnterCoupons"/>
            <add context="EnterCouponValue" view="NumericInput" param="EnterCouponValue"/>
            <add context="EnterID" view="NumericInput" param="EnterId"/>
            <add context="EnterPin" view="TenderStep" param="EnterPin"/>
            <add context="EnterQuantity" view="NumericInput" param="EnterQuantity"/>
            <add context="EnterWeight" view="GenericPopup" param="EnterWeight"/>
            <add context="EnterWtForPriceEmbedded" view="GenericPopup" param="EnterWeight"/>
            <add context="ExtendedAlphaNumericInfo" view="AlphaNumericInput" param="ExtendedAlphaNumeric"/>
            <add context="FatalError" view="GenericPopup" param="FatalError"/>
            <add context="Finish" view="Tender" param="Payment"/>
            <add context="HelpOnWay" view="Help" param="HelpOnWay"/>
            <add context="InsertCoupon" view="TenderStep" param="InsertCoupon"/>
            <add context="InsertGiftCard" view="TenderStep" param="InsertGiftCard"/>
            <add context="ItemNotForSale" view="GenericPopup" param="ItemNotForSale"/>
            <add context="InvalidBarcodeScan" view="GenericPopup" param="InvalidBarcodeScan"/>
            <add context="ItemQuantityExceeded" view="GenericPopup" param="ItemQuantityExceeded" />
            <add context="HostOffline" view="GenericPopup" param="Offline"/>
            <add context="Keyboard0409" view="AlphaNumericInput" param="Keyboard0409" />
            <add context="KeyInCode" action="ButtonGoBack" />
            <add context="LaneClosed" view="GenericPopup" param="Closed"/>
            <add context="LimitedEBTBenefitOK" view="GenericPopup" param="LimitedEBTBenefitOK"/>
            <add context="LimitedEBTBenefit" view="GenericPopup" param="LimitedEBTBenefit"/>
            <add context="OperatorPasswordStateInvalidPassword" view="GenericPopup" param="OperatorPasswordStateInvalidPassword"/>
            <add context="OutOfService2" view="GenericPopup" param="OutOfService"/>
            <add context="NMIPopup" view="NMIPopup" param="NMIPopup"/>
            <add context="PickingUpItems" view="GenericPopup" param="PickingUpItems" />
            <add context="Processing" view="GenericPopup" param="Processing"/>
            <add context="ProduceFavorites" view="Search" param="ProduceFavorites"/>
            <add context="PutBagOnScale" view="OwnBag" param="OwnBag" />
            <add context="MultiSelectProduceFavorites" view="Search" param="MultiSelectProduceFavorites"/>
            <add context="QuickPickItems" view="Sale" param="QuickPick" />
            <add context="QuickPickItemsWithReward" view="Sale" param="QuickPickWithReward" />
            <add context="RAPDataNeeded" view="GenericPopup" param="RAPDataNeeded"/>
            <add context="ReEnterPin" view="TenderStep" param="EnterPin"/>
            <add context="RequestSig" view="TenderStep" param="RequestSig"/>
            <add context="RestrictedNotAllowed" view="GenericPopup" param="RestrictedNotAllowed"/>
            <add context="SavePreferences" view="GenericPopup" param="SavePreferences"/>
            <add context="ScaleBroken" view="GenericPopup" param="ScaleBroken"/>
            <add context="ScanAndBag" view="Sale" param="Scan"/>
            <add context="ScanAndBagWithReward" view="Sale" param="ScanWithReward"/>
            <add context="SecBagAreaBackup" view="GenericPopup" param="SecBagAreaBackup"/>
            <add context="SecItemRemovedThreshold" view="GenericPopup" param="SecItemRemovedThreshold" />
            <add context="SecNewItemEntry" view="GenericPopup" param="SecNewItemEntry" />
            <add context="SecMisMatchWeight" view="GenericPopup" param="SecMisMatchWeight" />
            <add context="SecUnExpectedIncrease" view="GenericPopup" param="SecUnExpectedIncrease" />
            <add context="SecBagBoxNotValid" view="GenericPopup" param="SecBagBoxNotValid" />
            <add context="SecBagBoxThreshold" view="GenericPopup" param="SecBagBoxThreshold"/>
            <add context="SecSkipBaggingThreshold" view="GenericPopup" param="SecSkipBaggingThreshold"/>
            <add context="SecOperatorPWStateInvalidPassword" view="GenericPopup" param="SecOperatorPWStateInvalidPassword" />
            <add context="SecUnexpectedDecrease" view="GenericPopup" param="SecUnexpectedDecrease" />
            <add context="SelectContainer" view="CustomPopup" param="SelectContainer"/>
            <add context="SelectContainerWith2Tare" view="CustomPopup" param="SelectContainerWith2Tare"/>
            <add context="SelectContainerWith3TareA" view="CustomPopup" param="SelectContainerWith3TareA"/>
            <add context="SelectContainerWith3TareB" view="CustomPopup" param="SelectContainerWith3TareB"/>
            <add context="SelectPayment" view="TenderOptions" param="SelectPayment" />
            <add context="SelectPaymentEBT" view="TenderOptions" param="SelectPaymentEBT"/>
            <add context="SelectTare" view="GridInput" param="SelectTare"/>
            <add context="SelectLanguage" view="SelectLanguage" param="SelectLanguage" />
            <add context="SellBags" view="NumericInput" param="SellBags"/>
            <add context="SellBagsConfirmQuantity" view="GenericPopup" param="SellBagsConfirmQuantity"/>
            <add context="SetAllItemsAside" view="GenericPopup" param="SetAllItemsAside"/>
            <add context="Startup" view="GenericPopup" param="Startup"/>
            <add context="UnknownPrice" view="GenericPopup" param="UnknownPrice"/>
            <add context="SignCharge" view="GenericPopup" param="SignCharge"/>
            <add context="SmAbort" param=""/>
            <add context="CouponNotAllowed" view="GenericPopup" param="CouponNotAllowed"/>
            <add context="CouponNoMatch" view="GenericPopup" param="CouponNoMatch"/>
            <add context="DropoffCoupons" view="GenericPopup" param="DropoffCoupons"/>
            <add context="OperatorPasswordStateInvalidPasswordWithFP" view="GenericPopup" param="OperatorPasswordStateInvalidPasswordWithFP"/>
            <add context="Suspend" view="GenericPopup" param="Suspend"/>
            <add context="ConfirmDebitAmount" view="GenericPopup" param="ConfirmDebitAmount" />
            <add context="CardMisRead" view="GenericPopup" param="CardMisRead" />
            <add context="RemoteSystemMessage" param=""/>
            <add context="SmAbort" param=""/>
            <add context="SmAborted" param=""/>
            <add context="SmAssistMenu" param=""/>
            <add context="SmAssistMode" param=""/>
            <add context="SmAssistModePartial" param=""/>
            <add context="SmAuthorization" param=""/>
            <add context="SmCardManagement" param=""/>
            <add context="SmCashierPassword" param=""/>
            <add context="SmCashManagementSafePay" param=""/>
            <add context="SmConfirmSignature" param=""/>
            <add context="SmConfirmSuspendedTransaction" param=""/>
            <add context="SmCouponItems" param=""/>
            <add context="SmDataEntry" param=""/>
            <add context="SmDataEntryAlphanumeric" param=""/>
            <add context="SmDataEntryNumericSmall" param=""/>
            <add context="SmDataEntrySmall" param=""/>
            <add context="SmDataEntryWithCmdList" param=""/>
            <add context="SmDataEntryWithCmdBtnList" param=""/>
            <add context="SmDataEntryWithDetailsList" param=""/>
            <add context="SmDataEntryWithImageControl" param=""/>
            <add context="SmDataEntryWithListBG" param=""/>
            <add context="SmDataEntryWithMediaList" param=""/>
            <add context="SmDataEntryWithVideoControl" param=""/>
            <add context="SmEnterBirthdate" param=""/>
            <add context="SmExcessLoadAmount" param=""/>
            <add context="SmGenericCashManagement" param=""/>
            <add context="SmIgnoreChanges" param=""/>
            <add context="SmLoadLift" param=""/>
            <add context="SmmAddWeight" param=""/>
            <add context="SmMediaStatus" param=""/>
            <add context="SmmEditAdd" param=""/>
            <add context="SmmEditWtExp" param=""/>
            <add context="SmmEditWtSubCk" param=""/>
            <add context="SmmEditWtTolerance" param=""/>
            <add context="SmmInvalidWtTol" param=""/>
            <add context="SmmKeyInItemCode" param=""/>
            <add context="SmmKeyInWtTol" param=""/>
            <add context="SmmMain" param=""/>
            <add context="SmPrintReceipt" param=""/>
            <add context="SmReportsMenu" param=""/>
            <add context="SmRestrictedItems" param=""/>
            <add context="SmRunReports" param=""/>
            <add context="SmSecurityLogs" param=""/>
            <add context="SmSelectModeOfOperation" param=""/>
            <add context="SmShowPickupDumpFailure" param=""/>
            <add context="SmSystemFunctions" param=""/>
            <add context="SmUpdateItem" param=""/>
            <add context="SmUtility" param=""/>
            <add context="SmVisualItems" param=""/>
            <add context="SmVoidAndRemoveItem" param=""/>
            <add context="SmVoidedItems" param=""/>
            <add context="ScanCard" view="TenderStep" param="ScanCard"/>
            <add context="SwipeCard" view="TenderStep" param="SwipeCard"/>
            <add context="SystemMessage" param=""/>
            <add context="SystemMessageDegradedMode" param=""/>
            <add context="SystemMessageDegradedModeWithBitmap" param=""/>
            <add context="SystemMessageDegradedModeWithWebControl" param=""/>
            <add context="SystemMessageHopperFailure" param=""/>
            <add context="SystemMessageHopperFailureWithWebControl" param=""/>
            <add context="SystemMessageHopperSubstitution" param=""/>
            <add context="SystemMessageHopperSubstitutionWithWebControl" param=""/>
            <add context="SystemMessageOpPass" view="GenericPopup" param="SystemMessageOpPass"/>
            <add context="SystemMessageWithAVI" param=""/>
            <add context="SystemMessageWithBitmap" param=""/>
            <add context="SystemMessageWithWebControl" param=""/>
            <add context="TakeCard" view="GenericPopup" param="TakeCard"/>
            <add context="TakeChange" view="Finish" param="TakeChange"/>
            <add context="TakeChangeTimeOut" view="Finish" param="TakeChangeTimeOut"/>
            <add context="TakeLoyaltyCard" view="GenericPopup" param="TakeLoyaltyCard"/>
            <add context="TakeReceipt" view="Finish" param="TakeReceipt"/>
            <add context="TakeYourReturnedCash" view="TenderStep" param="TakeCash"/>
            <add context="TenderBalance" view="GenericPopup" param="TenderBalance" />
            <add context="ThankYou" view="Finish" param="Finish"/>
            <add context="TimeRestrictedItem" view="GenericPopup" param="TimeRestrictedItem"/>
            <add context="UnDeActivatedItemApproval" view="GenericPopup" param="UnDeActivatedItemApproval"/>
            <add context="UnknownItem" view="GenericPopup" param="UnknownItem"/>
            <add context="VoidItem" view="GenericPopup" param="VoidItem"/>
            <add context="VoidItemWithReward" view="GenericPopup" param="VoidItemWithReward"/>
            <add context="VoidPickListItem" view="GenericPopup" param="VoidItem" />
            <add context="VoidPickListItemWithReward" view="GenericPopup" param="VoidItemWithReward" />
            <add context="VoidTransApproval" view="GenericPopup" param="VoidApproval"/>
            <add context="VoidApproval" view="GenericPopup" param="VoidApproval"/>
            <add context="VoucherPayment" view="TenderStep" param="ScanVoucher"/>
            <add context="VoidNoMatch" view="GenericPopup" param="VoidNoMatch" />
            <add context="ShowVolume" view="VolumePopup" param="ShowVolume" />
            <add context="WaitForApproval" view="GenericPopup" param="WaitApproval"/>
            <add context="WaitForRemoteAssistance" view="GenericPopup" param="WaitForRemoteAssistance"/>
            <add context="DataNeededMsg" view="GenericPopup" param="DataNeededMsg" />
            <add context="DataNeededConfirm" view="GenericPopup" param="DataNeededConfirm" />
            <add context="DataNeededScanCard" view="GenericPopup" param="DataNeededScanCard"/>
            <add context="DataNeededSelection" view="GenericPopup" param="DataNeededSelection"/>
            <add context="XMCashierID" param=""/>
            <add context="XMCashierPassword" param=""/>
            <add context="XMCashRemove" param=""/>
            <add context="XMCashRemoveBNR" param=""/>
            <add context="XMCashRemoveGlory" param=""/>
            <add context="XMCashReplenish" param=""/>
            <add context="XMCashStatus" param=""/>
            <add context="XMCashStatusGlory" param=""/>
            <add context="XMConfirmAction" param=""/>
            <add context="XMLoanFailure" param=""/>
            <add context="XMLockScreen" param=""/>
            <add context="XMMediaStatus" param=""/>
            <add context="XMPickupFailure" param=""/>
            <add context="OperatorKeyboard0409" view="AlphaNumericInput" param="OperatorKeyboard"/>
            <add context="OperatorKeyboard0c09" view="AlphaNumericInput" param="OperatorKeyboard"/>
            <add context="OperatorKeyboard1409" view="AlphaNumericInput" param="OperatorKeyboard"/>
			<add context="Keyboard041f" view="AlphaNumericInput" param="Keyboard041f"/>
			<add context="Keyboard0c0c" view="AlphaNumericInput" param="Keyboard0c0c"/>
			<add context="Keyboard080a" view="AlphaNumericInput" param="Keyboard080a"/>
			<add context="Keyboard0424" view="AlphaNumericInput" param="Keyboard0424"/>
			<add context="Keyboard040c" view="AlphaNumericInput" param="Keyboard040c"/>
        </ContextToViews>
        <ActionToSequences>
          <add action="Assistance" sequence="ButtonHelp;BagAndEAS:ButtonStoreLogIn;TakeChange:ButtonStoreLogIn"/>
            <add action="Back" sequence="MultiSelectProduceFavorites:CMButton4LgFinish;ProduceFavorites:ButtonGoBack;ButtonGoBack"/>
            <add action="ButtonGoBack" sequence="ButtonGoBack" />
            <add action="Cancel" sequence="ButtonGoBack"/>
            <add action="CancelAll" sequence="CMButton2"/>
            <add action="CancelItem" sequence="CMReceiptScrollDown({0}),CMButton1Lg"/>
            <add action="CashBack" sequence="CashBackList({0})"/>
            <add action="CancelCoupon" sequence="CMButton3"/>
            <add action="CannotScanCoupon" sequence="CMButton1"/>
            <add action="CMButton1MidiList" sequence="CMButton1MidiList" />
            <add action="CMButton2Med" sequence="CMButton2Med" />
            <add action="CMButton2MidiList" sequence="CMButton2MidiList" />
            <add action="CMButton3Med" sequence="CMButton3Med" />
            <add action="CMButton3MidiList" sequence="CMButton3MidiList" />
            <add action="CMButton4MidiList" sequence="CMButton4MidiList" />
            <add action="CMButton5MidiList" sequence="CMButton5MidiList" />
            <add action="CMButton6MidiList" sequence="CMButton6MidiList" />
            <add action="CMButton7MidiList" sequence="CMButton7MidiList" />
            <add action="Continue" sequence="CMButton1Med"/>
            <add action="DataNeededButtonList" sequence="CmdBtn_DataEntryList({0})" />
            <add action="DataNeededCmdList" sequence="CmdList_DataEntry({0}),CMButton1MidiList" />
            <add action="EBTCashBack" sequence="EBTCashBackList({0})"/>
            <add action="EnterCode" sequence="CMButton1Global,-Context,NumericP1-Keys({0}),NumericP4"/>
            <add action="EnterNumeric" sequence="NumericP1-Keys({0}),NumericP4"/>
            <add action="EnterSearch" sequence="CMButton2Lg,-Context,Line3AlphaNumericKeys-SearchKeys({0}),AlphaNumKey3"/>
            <add action="EnterAlphaNum" sequence="AlphaNumP1-Keys({0}),AlphaNumKey3"/>
            <add action="EnterKeyboard" sequence="Line4AlphaNumericKeys-SearchKeys({0}),AlphaNumKey3"/>
            <add action="FinishPay" sequence="BagAndEAS:CMButton1Med,-Context,CMButton4LgFinish;CMButton4LgFinish"/>
            <add action="Language" sequence="Attract:CMButton8Global;AttractMultiLanguage:CMButton8Global;CMButton5MidiList"/>
            <add action="Languages" sequence="LanguageImage({0})"/>
            <add action="No" sequence="CMButton2Med"/>
            <add action="OwnBag" sequence="Attract:CMButton2Lg;CMButton6OwnBag"/>
            <add action="OwnBagDone" sequence="CMButton2Med" />
            <add action="PrintReceipt" sequence="CMButton1Med"/>
            <add action="QuickPickItem" sequence="QuickPickImage({0})"/>
            <add action="Scan" sequence="CMButton1Lg"/>
            <add action="ScanForLanguage2" sequence="CMButton2Lg"/>
            <add action="SearchCategory" sequence="TabSelected({0})"/>
            <add action="SearchItem" sequence="ProductImage({0})"/>
            <add action="SearchKeyInItem" sequence="Attract:CMButton1Lg,-Context(ScanAndBag,ScanAndBagWithReward,QuickPickItems,QuickPickItemsWithReward),CMButton1LookUp;AttractMultiLanguage:CMButton{0}MidiList,-Context(ScanAndBag,ScanAndBagWithReward,QuickPickItems,QuickPickItemsWithReward),CMButton1LookUp;CMButton1LookUp"/>
            <add action="SearchKeyInItemForLanguage2" sequence="Attract:CMButton2Lg,-Context(ScanAndBag,ScanAndBagWithReward,QuickPickItems,QuickPickItemsWithReward),CMButton1LookUp"/>
            <add action="SelectTare" sequence="TareList({0})"/>
            <add action="SkipBagging" sequence="CMButton1Med"/>
            <add action="StoreLogin" sequence="ContextHelp:CMButton2StoreLogIn;CMButton1StoreLogIn"/>
            <add action="Tender" sequence="TenderImage({0})"/>
            <add action="TryAgain" sequence="CMButton2Med"/>
            <add action="VoidItem" sequence="CMButton3Global"/>
            <add action="Volume" sequence="ButtonVolumeControl({0})"/>
            <add action="Yes" sequence="CMButton1Med"/>
            <add action="OKUnknownItem" sequence="CouponNoMatch:CMButton1Med,-Context(KeyInCode,Keyboard0409),ButtonGoBack;CustomMessage:CMButton1Med,-Context(KeyInCode,Keyboard0409),ButtonGoBack;CMButton1Med"/>
            <add action="DataNeededButton1" sequence="CMButton1MidiList"/>
            <add action="DataNeededButton2" sequence="CMButton2MidiList"/>
            <add action="WaitApprovalStoreLogin" sequence="CMButton1StoreLogIn"/>
            <add action="ButtonStoreLogIn" sequence="ButtonStoreLogIn"/>
            <add action="OKCheckBasket" sequence="CMButton2Med"/>
            <add action="SearchPopupGoBack" sequence="ButtonGoBack,-Context,ButtonGoBack,-Context,CMButton1LookUp"/>
            <add action="UIActivity" sequence="Display(UIActivity)"/>
			<add action="LevelUp" sequence="CMProduceSelectPrev"/>
			<add action="HotKeys" sequence="HotKeys({0})" />
			<add action="ShiftKey" sequence="ShiftKey1" />
        </ActionToSequences>
        <PropertyWatches>
            <add name="AmountDue" control="Amount1" property="Text"/>
            <add name="AmountPaid" control="Amount2" property="Text"/>
            <add name="Amount1Label" control="Amount1Label" property="Text"/>
            <add name="AlphaNumKey3Enabled" control="AlphaNumKey3" property="State"/>
            <add name="AssistanceEnabled" control="ButtonHelp" property="State"/>
            <add name="AssistanceShown" control="ButtonHelp" property="Visible"/>
            <add name="ButtonGoBack" control="ButtonGoBack" property="Text"/>
            <add name="ButtonGoBackShown" control="ButtonGoBack" property="Visible"/>
            <add name="ButtonStoreLogInShown" control="ButtonStoreLogIn" property="Visible"/>
            <add name="ButtonGoBackEnabled" control="ButtonGoBack" property="State"/>
            <add name="CMButton1StoreLogInShown" control="CMButton1StoreLogIn" property="Visible"/>
            <add name="CashBack" control="CashBackList" property="GridData"/>
            <add name="CancelAllShown" control="CMButton2" property="Visible" />
            <add name="CMButton1MidiList" control="CMButton1MidiList" property="Text"/>
            <add name="CMButton1MidiListShown" control="CMButton1MidiList" property="Visible"/>
            <add name="CMButton2Med" control="CMButton2Med" property="Text"/>
            <add name="CMButton2MidiList" control="CMButton2MidiList" property="Text"/>
            <add name="CMButton2MidiListShown" control="CMButton2MidiList" property="Visible"/>
            <add name="CMButton3Med" control="CMButton3Med" property="Text"/>
            <add name="CMButton3MidiList" control="CMButton3MidiList" property="Text"/>
            <add name="CMButton3MidiListShown" control="CMButton3MidiList" property="Visible"/>
            <add name="CMButton4MidiList" control="CMButton4MidiList" property="Text"/>
            <add name="CMButton4MidiListShown" control="CMButton4MidiList" property="Visible"/>
            <add name="CMButton5MidiList" control="CMButton5MidiList" property="Text"/>
            <add name="CMButton6MidiList" control="CMButton6MidiList" property="Text"/>
            <add name="CMButton6MidiListShown" control="CMButton6MidiList" property="Visible"/>
            <add name="CMButton7MidiList" control="CMButton7MidiList" property="Text"/>
            <add name="CMButton7MidiListShown" control="CMButton7MidiList" property="Visible"/>
            <add name="Containers" control="TareList" property="GridData"/>
            <add name="ClearButtonEnabled" control="NumericP3" property="State"/>
            <add name="CustomerMessage" control="CMCustomerMessage" property="Text" />
            <add name="CustomerReceipt" control="CMReceipt" property="ReceiptData" type="Customer"/>
            <add name="DataEntryButtonList" control="CmdBtn_DataEntryList" property="GridData" />
            <add name="DataEntryCmdList" control="CmdList_DataEntry" property="ReceiptData" />
            <add name="EBTCashBack" control="EBTCashBackList" property="GridData"/>
            <add name="MessageBoxEcho" control="Echo" property="Text"/>
            <add name="Instructions" control="InstructionTextArea" property="Text"/>
            <add name="InstructionScreenTitle" control="InstructionScreenTitle" property="Text" />
            <add name="LeadthruText" control="LeadthruText" property="Text"/>
            <add name="MessageBoxNoEcho" control="MessageBoxNoEcho" property="Text"/>
            <add name="PointEarned" control="CMPointEarned" property="Text" />
            <add name="ReceiptItemCount" control="ItemAmount" property="Variable"/>
            <add name="Saving" control="CMAmountSaved" property="Text"/>
            <add name="SearchCategories" control="TabSelected" property="GridData"/>
            <add name="SearchItems" control="ProductImage" property="GridData"/>
            <add control="ProductImage[]" property="Logo"/>
            <add control="ProductImage[]" property="Data"/>
            <add control="ProductImage[].ItemDescription" property="Text"/>
            <add control="ProductImage[].ItemCode" property="Text"/>
            <add control="ProductImage[].SubCategoryDescription" property="Text"/>
            <add name="Languages" control="LanguageImage" property="GridData"/>
            <add name="LanguageSaleShown" control="CMButton5MidiList" property="Visible"/>
            <add name="LanguageWelcomeShown" control="CMButton8Global" property="Visible"/>
            <add name="OwnBagSaleShown" control="CMButton6OwnBag" property="Visible"/>
            <add name="OwnBagWelcomeShown" control="CMButton2Lg" property="Visible"/>
            <add name="ScaleInfo" control="CMScaleImage" property="Text" />
            <add name="StoreEnabled" control="CMButton1StoreLogIn" property="State"/>
            <add name="TenderList" control="TenderImage" property="GridData"/>
            <add name="Tax" control="CMTaxAmount" property="Variable"/>
            <add name="TaxShown" control="CMTaxAmount" property="Visible"/>
            <add name="Total" control="CMTotalAmount" property="Variable"/>
            <add name="CMButton1MedShown" control="CMButton1Med" property="Visible"/>
            <add name="VolumeShown" control="ButtonVolumeControl" property="Visible"/>
            <add name="Weight" control="CMWeight" property="Text"/>
            <add name="ScaleLogo" control="ScaleClassLogo" property="Visible"/>
            <add name="LookupItemCount" control="LookupItemNumber" property="Text" />
            <add name="SearchReceipt" control="PickListReceipt" property="ReceiptData" type="Customer"/>
            <add name="ScanBagTextShown" control="ScanBagTextArea" property="Visible"/>
            <add name="QuickPickItems" control="QuickPickImage" property="GridData" />
            <add name="NextGenData" control="NextGenData" property="Variable" />
            <add control="QuickPickImage[]" property="Logo"/>
            <add control="QuickPickImage[]" property="Data"/>
            <add control="QuickPickImage[].ItemDescription" property="Text"/>
            <add control="QuickPickImage[].ItemCode" property="Text"/>
            <add control="QuickPickImage[].CategoryDescription" property="Text"/>
            <add control="QuickPickImage[].SubCategoryDescription" property="Text"/>
            <add name="WeightExpectedAmount" control="CMWeightExpectedAmount" property="Variable"/>
            <add name="WeightObservedAmount" control="CMWeightObservedAmount" property="Variable"/>
            <add name="ItemNumberAmount" control="CMItemNumberAmount" property="Variable"/>
            <add name="ChangeDue" control="NextGenUIChangeDue" property="Variable"/>
            <add name="RefundDue" control="NextGenUIRefundDue" property="Variable"/>
            <add name="NextGenUIPicklistDisplayLevels" control="NextGenUIPicklistDisplayLevels" property="Variable"/>          
            <add name="VolumeControlIncLevel" control="NextGenUIVolumeControlIncLevel" property="Variable"/>
            <add name="ScanBagTextArea" control="ScanBagTextArea" property="Text"/>
			<add name="Line1AlphaNumericKeys" control="Line1AlphaNumericKeys" property="GridData"/>
			<add name="Line2AlphaNumericKeys" control="Line2AlphaNumericKeys" property="GridData"/>
			<add name="Line3AlphaNumericKeys" control="Line3AlphaNumericKeys" property="GridData"/>
			<add name="Line4AlphaNumericKeys" control="Line4AlphaNumericKeys" property="GridData"/>
			<add name="AlphaNumP1" control="AlphaNumP1" property="GridData"/>
			<add name="AlphaNumP2" control="AlphaNumP2" property="GridData"/>
			<add name="AlphaNumP3" control="AlphaNumP3" property="GridData"/>
			<add name="AlphaNumP4" control="AlphaNumP4" property="GridData"/>
			<add name="HotKeys" control="HotKeys" property="GridData"/>
			<add name="EnterKeyText" control="AlphaNumKey3" property="Text" />
			<add name="SpaceKeyText" control="SpaceKey" property="Text" />			
			<add name="SpaceKeyShown" control="SpaceKey" property="Visible" />		
			<add name="ShiftKeyText" control="ShiftKey1" property="Text" />		
			<add name="ShiftKeyShown" control="ShiftKey1" property="Visible" />		
        </PropertyWatches>
    </ConfigurationSettingsModels>
</configuration>